@{
    @model IEnumerable<DBModels.Worktime>;

}


<h5>Выработка за месяц по всем сотрудникам</h5>
<dl class="row">
    @{

        var month = (from hours in Model
                     group hours.Hours by new { hours.Date.Month } into g
                     select new
                     {
                         Months = g.Key.Month,
                         SummHourse = g.Sum()
                     }).ToList();

        foreach (var u in month)
        {
            <dt class="col-sm-2">
               Месяц: @u.Months
            </dt>
            <dd class="col-sm-10">
                @u.SummHourse ч.
            </dd>

        }
    }
    <dt class="col-sm-2">
        Всего отработанных часов
    </dt>
    <dd class="col-sm-10">
        @ViewData["SummHourse"]
    </dd>
</dl>